/* global css */
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 600;
}

.f-16 {
  font-size: 16px;
}
.fontf {
  font-family: "Sofia Pro", sans-serif !important;
}
.fw-500 {
  font-weight: 500;
}
.pink_header {
  color: #76ad57;
}
.w-100 {
  width: 100% !important;
}
/* main */
.navbarhero {
  background-color: #76ad57;
}

.sarrow {
  content: "▸";
  font-size: 20px;
}
.homemenu {
  color: #76ad57;
}
.readbtn {
  background-color: #76ad57;
  padding: 10px 20px;
  border-radius: 7px;
}
.headerkitchen {
  width: 50%;
}
.menuhero {
  color: #76ad57;
  font-size: 47px;
  margin-bottom: 20px;
  padding-top: 60px;
}
.headerhero {
  background-color: #fdf5e5;
  padding: 20px 40px;
  position: relative;
  padding-top: 10rem;
}

.orderbtn {
  background-color: #76ad57;
  text-transform: uppercase;
  font-family: "Sofia Pro", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  min-height: 0;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.2s linear;
  letter-spacing: 0.9px;
  font-size: 20px;
  padding: 15px 33px 16px 33px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 7px;
}

.navbox {
  width: 50%;
}

.imgbox {
  position: absolute;  
  z-index: 999;
  top: 17px;
  left: 21px;

}

.ordernavbarbtn {
  background-color: #76ad57;
  transition: all 0.2s linear;
  font-size: 18px;
  border-radius: 7px;
}
.ordernavbarbtn:hover {
  background-color: #76ad57 !important;
}
/* cards */
.meal_news_hero {
  padding: 40px 30px;
}
.our_meals,
.about_header {
  font-size: 30px;
}
.cards_hero {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.newsslide {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 9px;
  width: calc(33.33% - 30px);
}
.tag {
  position: absolute;
  margin: auto;
  height: 48px;
  z-index: 99;
  left: -20px;
  top: 20px;
  width: 97px;
}
.newtext {
  position: absolute;
  margin: auto;
  z-index: 99;
  left: 26px;
  top: 26px;
}
.img1 {
  height: fit-content;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .navbox {
    width: 55%;
  }
}



@media screen and (max-width: 991px) {
 

  .colapsehero{
    padding-bottom: 45px;
  }
  .navbox {
    width: 100%;
  }
  .menuhero {
    font-size: 35px;
}
  .newsslide {
    width: calc(50% - 10px);
  }
  .headerkitchen {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .navhero {
    flex-direction: column;
    gap: 20px;
  }

  .navbox {
    display: flex;
    position: relative;
    /* top: -66px; */
    z-index: 1;
    justify-content: end !important;
  }
.navbarbox{
  position: relative;
  top: 35px;
  gap: 15px;

}

}
@media screen and (max-width: 768px) {
  .headerbox{
    position: relative;
    top: 8rem;
  }
  .menuhero{
    padding-top: 9.5rem;
  }
  .newsslide {
    width: calc(100% - 10px);
  }
  .headerhero{
    padding: 20px 20px;
  }
  .pink_header{
    font-size: 15px;
  }
  .orderbtn{
    font-size: 15px;
    padding: 13px 23px 13px 23px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 500px) {
  .navbarhero {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .imgbox{
    top: 24px;
    left: 16px;
    width: 200px;
  }
  .menuhero{
    padding-top: 12rem;
    font-size: 30px;
  }
  .headerbox{
    top: 10.5rem;
  }
}
